:root{
  font-size: 16px;
}

*{
  background-color: beige;
}

.header_prin{
  font-size: medium;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a{
  padding: 16px;
}

.btn_menu{
  width: 350px;;
  height: 17vh;
  font-size: 50px;
}

@media (min-width: 650px) and (max-width: 960px){
  .menu{
    flex-direction: row;
  }

  .btn_menu{
    width: 200px;
    height: 32vh;
  }
}

@media (min-width: 961px){
  .btn_menu{
    width: 90vw;
  }
}