:root {
    font-size: 16px;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
  }

.menu{
    width: 100vw;
    height: ;   
}
  button{
    display: flex;
    flex-direction: row;

  }