
  /* Tablet and desktop styles */
  
  @media (min-width: 768px) {
    header {
      padding: 1em;
    }
  
    .titulo {
      font-size: 1.5em;
    }
  
    h2 {
      font-size: 1.4em;
    }
  
    h3 {
      font-size: 1.3em;
    }
  
    h4 {
      font-size: 1em;
    }
  }
  
  /* Desktop styles */
  
  @media (min-width: 1024px) {
    header {
      padding: 1.5em;
    }
  
    .titulo {
      font-size: 1.8em;
    }
  
    section {
      padding: 1em;
    }
    h1{
      text-align: center;
    }
  
    h2 {
      font-size: 1.5em;
      text-align: left;
    }
  
    h3 {
      font-size: 1.3em;
    }
  
    h4 {
      font-size: 1.2em;
    }
  }